/***********/
/* General */
/***********/
* {
    font-family:'Avenir', 'Helvetica', 'Arial', 'Sans-Serif';
}
body {
    background-color: #EEEEEE;
    margin: 40px 40px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    clear: both;
}
a {
    text-decoration: none;
    color: #FF5555;
}
a:hover {
    color: #F00FCB;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    margin-right:10px;
    margin-left:10px;
}
#blurb {
    float: left;
}
#main_content {
    clear: both;
}

/**************************/
/* Content-dividing Table */
/**************************/
td.left_content {
    width: 25%;
}
td.middle_content {
    width: 50%;
}
td.right_content {
    width: 25%;
}
td {
    vertical-align: top;
}

/*********************/
/* Header and Footer */
/*********************/
footer {
    border-top: 1px solid #D5D5D5;
    font-size: .8em;
    clear: both;
}
nav ul, footer ul {
    font-family:'Avenir', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.5em;
}
nav ul li a {
    color: #FF5555;
}
footer ul li a {
    color: #656565;
}

/*********/
/* Posts */
/*********/
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
recent_post_title {
    font-size: 1.6em;
}
recent_post_date {
    font-size: 1em;
}

