{{/* Fetch and parse the CSV */}}
{{ $data := "" }}
{{ $p := "probabilities.csv" }}
{{ with .Page.Resources.Get "probabilities.csv" }}
  {{ $opts := dict "delimiter" "," }}
  {{ $data = . | transform.Unmarshal $opts }}
{{ else }}
  {{ errorf "Unable to get resource %q" $p }}
{{ end }}

{{ $nameColName := "What's your name?" }}
{{ $canTrackColName := "Can I track your answers on my website alongside others'?" }}
{{ $timeColName := "Timestamp" }}

{{/* Transform this into a dict for each row */}}
{{ $headers := index $data 0 }}
{{ $rows := after 1 $data }}
{{ $mapData := slice }}
{{ range $rows }}
  {{ $rowMap := dict }}
  {{ range $i, $value := . }}
    {{ $header := index $headers $i }}
    {{ $rowMap = merge $rowMap (dict $header $value) }}
  {{ end }}
  {{ $mapData = $mapData | append $rowMap }}
{{ end }}

{{/* First off, filter out entries where the "can I track your answers" column isn't "Yes" */}}
{{ $cleanData := slice }}
{{ range $mapData }}
  {{ $canTrack := index . $canTrackColName }}
  {{ if eq ($canTrack | lower) "yes" }}
    {{ $cleanData = $cleanData | append . }}
  {{ end }}
{{ end }}

{{/* Sort by name */}}
{{ $cleanData = sort $cleanData $nameColName }}

{{ $names := slice }}
{{ range $cleanData }}
  {{ $name := index . $nameColName }}
  {{ $names = $names | append $name }}
{{ end }}

{{ $eventKeysByCategory := dict }}
{{ $eventKeys := slice }}
{{ range $key, $value := index $cleanData 0 }}
    {{ if eq $key $nameColName }}
      {{ continue }}
    {{ end }}
    {{ if eq $key $canTrackColName }}
      {{ continue }}
    {{ end }}
    {{ if eq $key $timeColName }}
      {{ continue }}
    {{ end }}
    {{/* Events are coded as "<Category> | <Event>" */}}
    {{ $split := split $key " | " }}
    {{ $category := index $split 0 }}
    {{ $event := index $split 1 }}
    {{/* If this category isn't in the event key map yet, add it */}}
    {{ if eq (index $eventKeysByCategory $category) nil }}
      {{ $eventKeysByCategory = merge $eventKeysByCategory (dict $category (slice $key)) }}
    {{ else }}
      {{ $eventKeysByCategory = merge $eventKeysByCategory (dict $category (index $eventKeysByCategory $category | append $key)) }}
    {{ end }}
    {{ $eventKeys = $eventKeys | append $key }}
{{ end }}



{{ range $category, $events := $eventKeysByCategory }}
<h2 class="mt-10 mb-0">{{ $category }}</h3>

 <div class="overflow-x-scroll">
  <table class="table table-md table-zebra table-pin-cols table-fixed mt-0">
    <thead>
      <tr>
        <th class="w-48 sm:w-64 lg:w-80"></th>
        {{ range $i, $name := $names }}
          <td class="relative text-xs w-16 h-32">
            <div class="bottom-0 absolute rotate-[290deg] whitespace-nowrap text-left origin-top-left align-bottom translate-x-[0.5rem]">
              {{ $name }}
          </div>
          </td>
        {{ end }}
        <td class="text-xs font-bold relative w-16 h-32">
          <div class="bottom-0 absolute rotate-[290deg] whitespace-nowrap text-left origin-top-left align-bottom translate-x-[0.5rem]">
            Average
          </div>
        </td>
      </tr>
    </thead>
    <tbody>
      {{ range $i, $eventKey := $events }}
      {{ $eventPieces := split $eventKey " | " }}
      {{ $event := index $eventPieces 1 }}
      <tr>
        {{ $total := 0 }}
        <th class="px-2 py-2 text-sm font-normal">{{ $event }}</th>
        {{ range $j, $row := $cleanData }}
          {{ $value := index $row $eventKey }}
          {{/* Some formatting for consistency. */}}
          {{ if hasPrefix $value "." }}
            {{/* Add a 0 to the front if it starts with a decimal point */}}
            {{ $value = printf "0%s" $value }}
          {{ end }}
          {{ if eq $value "1.0" }}
            {{/* Change 1.0 to just 1 */}}
            {{ $value = "1" }}
          {{ end }}
          {{ if eq $value "0.0" }}
            {{/* Change 0.0 to just 0 */}}
            {{ $value = "0" }}
          {{ end }}
          <td class="text-right w-full">{{ $value }}</td>
          {{ $total = add $total ($value | float) }}
        {{ end }}
        {{ $avg := div $total (len $cleanData) }}
        {{ $avg = printf "%.2f" $avg }}
        <td class="text-right font-bold">
          {{ $avg }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}