{{/* Fetch and parse the CSV */}}
{{ $data := "" }}
{{ $p := "probabilities.csv" }}
{{ with .Page.Resources.Get "probabilities.csv" }}
  {{ $opts := dict "delimiter" "," }}
  {{ $data = . | transform.Unmarshal $opts }}
{{ else }}
  {{ errorf "Unable to get resource %q" $p }}
{{ end }}

{{ $nameColName := "What's your name?" }}
{{ $canTrackColName := "Can I track your answers on my website alongside others'?" }}
{{ $timeColName := "Timestamp" }}

{{/* Transform this into a dict for each row */}}
{{ $headers := index $data 0 }}
{{ $rows := after 1 $data }}
{{ $mapData := slice }}
{{ range $rows }}
  {{ $rowMap := dict }}
  {{ range $i, $value := . }}
    {{ $header := index $headers $i }}
    {{ $rowMap = merge $rowMap (dict $header $value) }}
  {{ end }}
  {{ $mapData = $mapData | append $rowMap }}
{{ end }}

{{/* First off, filter out entries where the "can I track your answers" column isn't "Yes" */}}
{{ $cleanData := slice }}
{{ range $mapData }}
  {{ $canTrack := index . $canTrackColName }}
  {{ if eq ($canTrack | lower) "yes" }}
    {{ $cleanData = $cleanData | append . }}
  {{ end }}
{{ end }}

{{/* Sort by name */}}
{{ $cleanData = sort $cleanData $nameColName }}

{{ $names := slice }}
{{ range $cleanData }}
  {{ $name := index . $nameColName }}
  {{ $names = $names | append $name }}
{{ end }}

{{ $eventKeys := slice }}
{{ range $key, $value := index $cleanData 0 }}
    {{ if eq $key $nameColName }}
      {{ continue }}
    {{ end }}
    {{ if eq $key $canTrackColName }}
      {{ continue }}
    {{ end }}
    {{ if eq $key $timeColName }}
      {{ continue }}
    {{ end }}
    {{ $eventKeys = $eventKeys | append $key }}
{{ end }}

{{/* Now we have a list of names and a list of events, we can build the table */}}
 <div class="w-full overflow-x-scroll">
  <table class="w-full text-sm !border-collapse table-fixed">
    <tr>
      <th class="w-64 font-normal text-base p-3 !border-b-0"></th>
      {{ range $i, $name := $names }}
        <th class="relative text-xs font-normal !border-b-0 w-12 h-32">
          <div class="bottom-0 absolute rotate-[290deg] whitespace-nowrap text-left origin-top-left align-bottom translate-x-[1rem]">
            {{ $name }}
        </div>
        </th>
      {{ end }}
      <th class="text-xs font-bold !border-b-0 relative w-12 h-32">
        <div class="bottom-0 absolute rotate-[290deg] whitespace-nowrap text-left origin-top-left align-bottom translate-x-[1rem]">
          Average
        </div>
      </th>
    </tr>
    {{ range $i, $event := $eventKeys }}
      <tr class="even:bg-[color:var(--table-shade-color)] ">
        {{ $total := 0 }}
        <td class="px-2 py-3">{{ $event }}</td>
        {{ range $j, $row := $cleanData }}
          {{ $value := index $row $event }}
          <td class="text-right px-2 border-l border-[color:var(--trim-color)]">{{ $value }}</td>
          {{ $total = add $total ($value | float) }}
        {{ end }}
        {{ $avg := div $total (len $cleanData) }}
        {{ $avg = printf "%.2f" $avg }}
        <td class="text-right px-2 border-l border-[color:var(--trim-color)] font-bold">
          {{ $avg }}
        </td>
      </tr>
    {{ end }}
  </table>
</div>