{{ $page := . }}
<div class="card card-bordered card-compact max-w-xl shadow-lg rounded-lg m-2 sm:mx-auto">
    <div class="card-body collapse collapse-arrow">
        <input type="checkbox" />  {{/* This is the checkbox that toggles the collapse under-the-hood. */}}
        <div class="collapse-title">
            <h2 class="card-title my-3">
                {{ .Title }}
            </h2>
        </div>
                
        <div class="collapse-content px-8 prose">
            <section>
                {{ .Summary }}
            </section>
            <div class="card-actions mt-6 px-8">
                {{ if isset .Params "links" }}
                {{ range $text, $link := .Params.links }}
                    <a class="btn btn-secondary btn-sm rounded-lg uppercase" href="{{ $link }}">
                        {{ $text }}
                    </a>
                {{ end }}
                {{ end }}
            </div>
        </div>

        <div class="px-16 mb-3 text-md">
            {{/* Appearance type and location */}}
            <div class="flex flex-row flex-wrap items-start justify-start gap-x-3">
                <div class="flex-initial flex flex-row flex-nowrap gap-1">
                {{ if hasPrefix .Params.appearanceType "Podcast" }}
                    <i class="fas fa-microphone translate-y-1 w-6"></i>
                {{ else if hasPrefix .Params.appearanceType "Conference" }}
                    <i class="fa-solid fa-person-chalkboard translate-y-1 w-6"></i>
                {{ end }}
                    <span class="font-bold">{{ .Params.appearanceType }}</span>
                </div>
                {{ .Params.where }}
            </div>
            {{/* Appearance when */}}
            <div class="flex-initial flex flex-row flex-nowrap gap-1 mt-1">
            <i class="fa-regular fa-calendar translate-y-1 w-6"></i>
            <span class="appearance-date">{{ .Date.Format "2006-01-02" }}</span>
            </div>
        </div>
    </div>
</div>