<article class="appearance-preview">
  <header>
    <h2><a href='{{ .Permalink }}'> {{ .Title }}</a></h2>
    <div class="appearance-meta">
      {{ if hasPrefix .Params.appearanceType "Podcast" }}
      <i class="fas fa-microphone"></i> &nbsp;
      {{ else if hasPrefix .Params.appearanceType "Conference" }}
      <i class="fa-solid fa-person-chalkboard"></i> &nbsp;
      {{ end }}
      <span class="appearance-type">{{ .Params.appearanceType }}</span>
      &nbsp; <nobr>{{ .Date.Format "2006-01-02" }}</nobr> &nbsp; <nobr>{{ .Params.where }}</nobr> </div>
  </header>
  <div class="appearance-summary">
    {{ .Summary }}
  </div>
  {{ if isset .Params "links" }}
    <div class="appearance-links">
      {{ range $text, $link := .Params.links }}
        <a class="button caps" href="{{ $link }}">{{ $text }}</a>
      {{ end }}
    </div>
  {{ end }}
  <footer>
  <a href='{{ .Permalink }}'><nobr>More →</nobr></a>
  </footer>
</article>