{{/*
Render paginated collection
Input: dict with pages, context, config
*/}}

{{ $pages := .pages }}
{{ $context := .context }}
{{ $config := .config }}

{{ $itemsPerPage := $config.paginate }}
{{ range $page := ($context.Paginate $pages $itemsPerPage).Pages }}
  {{ $page.Render $config.listSummaryType }}
{{ end }}

<div class="mt-0 mb-16 text-center">
  <button class="btn btn-secondary btn-sm" onclick="document.getElementById('subscribe-modal').showModal()">
    Subscribe
  </button>
</div>

{{/* Pagination controls with styling */}}
<div class="
  not-prose
  text-base mx-auto mb-4 sm:text-lg sm:max-w-md
  [&>ul]:flex [&>ul]:flex-row [&>ul]:justify-evenly
  [&>ul>li.active>a:not([href])]:font-bold
  [&>ul>li>a]:btn [&>ul>li>a]:btn-sm [&>ul>li>a]:rounded-md
  [&>ul>li:not(.active)>a]:btn-ghost
  [&>ul>li:not(.active):not(.disabled)>a]:text-primary
  [&>ul>li.active>a]:btn-disabled
  [&>ul>li.disabled>a]:pointer-events-none
  [&>ul>li.disabled>a]:opacity-50
">
  {{ template "_internal/pagination.html" $context }}
</div>