<article class="post-preview mx-1 my-8">
    <header>
      <h2 class="mb-2"><a class="text-secondary" href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
      <div class="italic">
        <span class="ml-1 mr-3">
          <i class="fa-regular fa-calendar mr-2"></i>{{ .Date.Format "2006-01-02" }}
        </span>
        <span class="mx-3">
            <i class="fa-solid fa-person-running mr-2"></i>{{ .Params.mileage }} miles
        </span>
      </div>
    </header>
    <section>
    <div class="mt-3 mb-1">
      {{ .Summary }}
    </div>
    </section>
  </article>