<section class="section  typeset">
  <ul class="list  list--posts">
    {% comment %}
      We want the books in reverse order -- most recent to least recent
    {% endcomment %}
    {% assign books = (site.books | reverse) %}
    {% for book in books %}
      <li class="item  item--book">
        <article class="article  article--book">
  
          <span class="book--title">{{ book.title }}</span>
          <span class="book--author">by {{ book.author }}</span>
          {{ book.content | markdownify }}
          <hr>
  
        </article>
      </li>
    {% endfor %}
  </ul>
</section>
