<nav class="nav nav--coffee-shops">
  <ul class="list  list--coffee-shops">
    {% assign shops = site.coffee_shops | sort: 'rating' %}
    {% for shop in shops reversed %}
      {% unless last_shop.rating == shop.rating%}
        <div class="subsection-divider">
          <span class="subsection-header">
            {{ shop.rating }}/10
          </span>
        </div>
      {% endunless %}
      <li class="item  item--shop">
          <a href="/coffee_shop_ratings/#{{ shop.name | slugify }}">{{ shop.name }}</a>
          <span class="coffee-shop-attributes">
            {{ shop.wifi }}
          </span>
      </li>
      {% assign last_shop = shop %}
    {% endfor %}
  </ul>
</nav>
