<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" or page.layout == "page" %}
    {% if page.aside-type == "courses" %}
       <section class="section  section--upcoming-courses">
        {% include upcoming-courses.html %}
        {% unless page.hide-social %}
          <h3>More from Ethan</h3>
          {% include nav-social.html %}
        {% endunless %}
      </section>
    {% elsif page.aside-type == "coffee-shops" %}
      {% include nav-coffee-shops.html %}
      {% unless page.hide-social %}
        <h3>More from Ethan</h3>
        {% include nav-social.html %}
      {% endunless %}
    {% else %}
      <section class="section  section--recent-posts">
        {% include post-recent.html %}
        {% unless page.hide-social %}
          <h3>More from Ethan</h3>
          {% include nav-social.html %}
        {% endunless %}
      </section>
    {%endif %}

  {% elsif page.layout == "categories" or page.layout == "blog" %}
    <section class="section  section--category-index">
      {% if page.layout == "blog" %}
        <h3>By Category</h3>
      {% elsif page.layout == "categories" %}
        <h3>Category Index</h3>
      {% endif %}
      {% include nav-categories.html %}
      {% unless page.hide-social %}
        <h3>More from Ethan</h3>
        {% include nav-social.html %}
      {% endunless %}
    </section>

  {% endif %}

</aside>
