<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" or page.layout == "page" %}
    {% if page.aside-type == "courses" %}

       <section class="section  section--upcoming-sessions">
        {% include upcoming-sessions.html %}
      </section>

    {% elsif page.aside-type == "coffee-shops" %}
      <h3>Coffee Shop Index</h3>
      {% include nav-coffee-shops.html %}

    {% else %}
      <section class="section  section--recent-posts">
        {% include post-recent.html %}
      </section>
    {%endif %}

  {% elsif page.layout == "categories" or page.layout == "blog" %}
    <section class="section  section--category-index">
      {% if page.layout == "blog" %}
        <h3>By Category</h3>
      {% elsif page.layout == "categories" %}
        <h3>Category Index</h3>
      {% endif %}
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>
