{{ $page := . }}
{{ if not .Params.unlisted }}
  <div class="flex-auto p-8 lg:mx-10 mx-5 my-4 shadow-md shadow-cyan-800 max-w-lg rounded-lg">
    <article class="coffee-shop-preview">
      <header>
        <div class="flex flex-row justify-between m-0 items-center">
          <h2 class="text-3xl h-fit">{{ .Params.name }}
            {{ with .Params.link }}
              <a href='{{ . }}'><i class="fa-solid fa-link"></i></a>
            {{ end }}
          </h2>
          <h2 class="text-5xl h-fit">{{ .Params.rating }}</h2>
        </div>
      </header>
      <section class="px-3 py-5">
        {{ .Content }}
      </section>
      <footer>
        <div class="flex flex-row justify-between mt-2 mx-2 pt-4 px-2 lg:px-6 border-t border-t-cyan-800">
          <div>
            <span class="lg:m-1 text-lg">Apple Pay?</span>
            <span class="lg:m-1 text-lg secondary-color">
            {{ if .Params.apple_pay }}YES{{ else }}NO{{ end }}
            </span>
          </div>
          <div>
            <span class="lg:m-1 text-lg">Wifi Quality:</span>
            <span class="lg:m-1 text-lg secondary-color">{{ .Params.wifi }}</span>
          </div>
        </div>
      </footer>
    </article>
  </div>
{{ end }}