.pagination-container ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.2em;
  border-top: 1px solid var(--trim-color);
}
.pagination-container ul li {
  margin: 0.8em;
}
.pagination-container ul li.active {
  font-weight: bold;
}
.pagination-container ul li a:not([href]) {
  color: var(--trim-color);
}
