.main-container {
  display: flex;
  flex-flow: row;
}
.left-sidebar, .right-sidebar {
  flex: 1 1 auto;
}
.content-container {
  flex: 0 1 50rem;
  padding: 1em;
  overflow: hidden;
}
.content-container > main > .content {
  margin-top: 1.5em;
}
.pagination-container ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.3em;
  border-top: 1px solid var(--trim-color);
}
.pagination-container ul li {
  margin: 1em;
}
.pagination-container ul li.active {
  font-weight: bold;
}
.pagination-container ul li a:not([href]) {
  color: var(--trim-color);
}
