.footnotes hr {
    margin: 3em 1em;
    color: var(--secondary-color);
}

.footnotes ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.footnotes li {
    display: list-item;
    margin-bottom: 0.8rem;
}

/* This applies to the label (e.g. "1.") of footnotes. */
.footnotes li::marker {
    color: var(--secondary-color);
    display: inline;
    /* Copied from Tailwind text-lg */
    font-size: 1.125rem/* 18px */;
}

.footnotes li p {
    display: inline;
}

pre {
  overflow: scroll;
  padding: 0.5em;
  line-height: 105%;
}

.posts-content p img {
  margin: 1em auto;
  display: block;
  max-height: 20rem;
  max-width: 80%;
}

.posts-content table {
    border-spacing: 15px 5px;
    border-collapse: separate;
}

.posts-content th {
    border-bottom: 1px solid var(--font-color);
}
.posts-subhead {
    margin-bottom: 2em;
}

.posts-content h2 {
    margin-top: 2rem !important;
    /* Copied from Tailwind text-xl */
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */
}

.posts-content h3 {
    /* Copied from Tailwind text-lg */
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}

.posts-content ol {
    list-style-type: decimal;
    list-style-position: inside;
}


.posts-content ul {
    list-style-type: disc;
    list-style-position: inside;
}

.posts-content li {
    display: list-item;
    margin: 1rem;
}

.posts-content pre {
    margin: 1rem;
}