.post-preview {
    margin: 3em 2em;
}
.post-preview h2 {
    margin: 0.5em 0;
}
.post-meta {
    font-style: italic;
}
.post-summary {
    margin: 0.75em 0;
}

.footnotes hr {
    margin: 3em 1em;
    color: var(--secondary-color);
}

/* This applies to the label (e.g. "1.") of footnotes. */
.footnotes li::marker {
    color: var(--secondary-color);
    font-weight: bold;
}

.highlight pre {
  padding: 0.5em;
  line-height: 105%;
}