<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>

    {{/* Include the tailwind CSS file */}}
    {{ $cssDir := "css" }}
    {{ $tailwindFile := path.Join "/" $cssDir "tailwind-style.css"}}
    <link rel="stylesheet" href="{{ $tailwindFile }}">

    {{/* Then (afterwards, so they get precedence) include all the other CSS files in "static/css" */}} 
    {{ $cssDirFullPath := path.Join "static" $cssDir }}
    {{ range $file := readDir $cssDirFullPath }}
      {{ if ne $file.Name "tailwind-style.css" }}
        {{ $cssFile := path.Join "/" $cssDir $file.Name }}
        <link rel="stylesheet" href="{{ $cssFile }}">
      {{ end }}
    {{ end }}

    {{ partial "includes.html" . }}
  </head>
  <body>
    {{ partial "navbar/main.html" .Site.Params.navbar }}
    <div class="flex flex-row mt-8 mx-4">
      {{/* Left sidebar */}}
      <div class="flex-auto">
        {{ block "left-sidebar" . }}
        {{ end }}
      </div>
      <div class="flex-grow-0 flex-shrink-1 md:max-w-3xl overflow-hidden">
        {{ partial "pageContent/main.html" . }}
      </div>
      {{/* Right sidebar */}}
      <div class="flex-auto">
        {{ block "right-sidebar" . }}
        {{ end }}
      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
