<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>

    {{/* Include the tailwind CSS file */}}
    {{ $cssDir := "css" }}
    {{ $tailwindFile := path.Join "/" $cssDir "tailwind-style.css"}}
    <link rel="stylesheet" href="{{ $tailwindFile }}">

    {{/* Then (afterwards, so they get precedence) include all the other CSS files in "static/css" */}} 
    {{ $cssDirFullPath := path.Join "static" $cssDir }}
    {{ range $file := readDir $cssDirFullPath }}
      {{ if ne $file.Name "tailwind-style.css" }}
        {{ $cssFile := path.Join "/" $cssDir $file.Name }}
        <link rel="stylesheet" href="{{ $cssFile }}">
      {{ end }}
    {{ end }}

    {{ partial "includes.html" . }}
  </head>
  <body>
    {{ partial "navbar/main.html" page }}
    <div class="drawer">
      <input id="sidebar-drawer" type="checkbox" class="drawer-toggle hidden" />
      <div class="drawer-content flex">
        {{/* Left sidebar */}}
        <div class="flex-auto">
          {{ block "left-sidebar" . }}
          {{ end }}
        </div>
        <div class="flex-grow-0 flex-shrink-1 md:max-w-3xl overflow-hidden prose m-4">
          {{ partial "pageContent/main.html" . }}
        </div>
        {{/* Right sidebar */}}
        <div class="flex-auto">
          {{ block "right-sidebar" . }}
          {{ end }}
        </div>
      </div>
      <div class="drawer-side">
        <label for="sidebar-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
          <ul tabindex="0" class="menu bg-base-200 min-h-full w-48 p-4 text-lg text-primary">
          {{ $thisPageLink := .RelPermalink | strings.TrimSuffix "/" }}
          {{ range $navItem := $.Site.Params.navbar.links }}
            {{ if eq $thisPageLink ($navItem.link | strings.TrimSuffix "/") }}
                <li><a class="active" href="{{ $navItem.link }}">{{ $navItem.name }}</a></li>
            {{ else }}
                <li><a href="{{ $navItem.link }}">{{ $navItem.name }}</a></li>
            {{ end }}
          {{ end }}
          </ul>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
