{{ define "main" }}
<style>
.main-container {
  display: flex;
  flex-flow: row;
}
.left-sidebar, .right-sidebar {
  flex: 1 1 auto;
}
.content-container {
  flex: 0 1 50rem;
}
</style>
<div class="main-container">
  <div class="left-sidebar">
  </div>
  <div class="content-container">
    <main aria-role="main">
      <header class="header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="content">
        <!-- this will include an image inline or at the top of the page if one is specified -->
        {{ with .Params.embeddedImage }}
          {{ with resources.Get . }}
            <!-- this one is shown inline, on big screens.-->
            <img src="{{ .RelPermalink }}" class="inline-one-half float-right mobile-no-show">
            <!-- this one is shown above, on small screens.-->
            <img src="{{ .RelPermalink }}" class="mobile-only center-block two-thirds">
          {{ end }}
        {{ end }}

        {{.Content}}
      </div>
      <div>
        {{ range .Pages }}
          {{ .Render "summary"}}
        {{ end }}
      </div>
    </main>
  </div>
  <div class="right-sidebar">
  </div>
</div>
{{ end }}
