.navbar-custom .avatar-container {
  width: 2rem;
}


@media (min-width: 768px) {
  .navbar-custom.top-nav-regular .avatar-container {
    margin-top: 5rem;
    width: 2.5rem;
  }
}

/* Fixes some janky footnote formatting. */
:target:before {
    content: "";
    display: inline-block;
    height: 50px;
    margin: -50px 0 0;
}

.inline-one-third {
  margin: 0.5em 1.5em;
  width: 25%;
}

@media (max-width: 767px) {
  .mobile-no-show {
    display: none;
  }
}
