/* Background */ [data-theme="dark"] .bg { color: #93a1a1; background-color: #002b36; }
/* PreWrapper */ [data-theme="dark"] .chroma { color: #93a1a1; background-color: #002b36; }
/* Other */ [data-theme="dark"] .chroma .x { color: #cb4b16 }
/* Error */ [data-theme="dark"] .chroma .err {  }
/* CodeLine */ [data-theme="dark"] .chroma .cl {  }
/* LineLink */ [data-theme="dark"] .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ [data-theme="dark"] .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ [data-theme="dark"] .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ [data-theme="dark"] .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ [data-theme="dark"] .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #495050 }
/* LineNumbers */ [data-theme="dark"] .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #495050 }
/* Line */ [data-theme="dark"] .chroma .line { display: flex; }
/* Keyword */ [data-theme="dark"] .chroma .k { color: #719e07 }
/* KeywordConstant */ [data-theme="dark"] .chroma .kc { color: #cb4b16 }
/* KeywordDeclaration */ [data-theme="dark"] .chroma .kd { color: #268bd2 }
/* KeywordNamespace */ [data-theme="dark"] .chroma .kn { color: #719e07 }
/* KeywordPseudo */ [data-theme="dark"] .chroma .kp { color: #719e07 }
/* KeywordReserved */ [data-theme="dark"] .chroma .kr { color: #268bd2 }
/* KeywordType */ [data-theme="dark"] .chroma .kt { color: #dc322f }
/* Name */ [data-theme="dark"] .chroma .n {  }
/* NameAttribute */ [data-theme="dark"] .chroma .na {  }
/* NameBuiltin */ [data-theme="dark"] .chroma .nb { color: #b58900 }
/* NameBuiltinPseudo */ [data-theme="dark"] .chroma .bp { color: #268bd2 }
/* NameClass */ [data-theme="dark"] .chroma .nc { color: #268bd2 }
/* NameConstant */ [data-theme="dark"] .chroma .no { color: #cb4b16 }
/* NameDecorator */ [data-theme="dark"] .chroma .nd { color: #268bd2 }
/* NameEntity */ [data-theme="dark"] .chroma .ni { color: #cb4b16 }
/* NameException */ [data-theme="dark"] .chroma .ne { color: #cb4b16 }
/* NameFunction */ [data-theme="dark"] .chroma .nf { color: #268bd2 }
/* NameFunctionMagic */ [data-theme="dark"] .chroma .fm {  }
/* NameLabel */ [data-theme="dark"] .chroma .nl {  }
/* NameNamespace */ [data-theme="dark"] .chroma .nn {  }
/* NameOther */ [data-theme="dark"] .chroma .nx {  }
/* NameProperty */ [data-theme="dark"] .chroma .py {  }
/* NameTag */ [data-theme="dark"] .chroma .nt { color: #268bd2 }
/* NameVariable */ [data-theme="dark"] .chroma .nv { color: #268bd2 }
/* NameVariableClass */ [data-theme="dark"] .chroma .vc {  }
/* NameVariableGlobal */ [data-theme="dark"] .chroma .vg {  }
/* NameVariableInstance */ [data-theme="dark"] .chroma .vi {  }
/* NameVariableMagic */ [data-theme="dark"] .chroma .vm {  }
/* Literal */ [data-theme="dark"] .chroma .l {  }
/* LiteralDate */ [data-theme="dark"] .chroma .ld {  }
/* LiteralString */ [data-theme="dark"] .chroma .s { color: #2aa198 }
/* LiteralStringAffix */ [data-theme="dark"] .chroma .sa { color: #2aa198 }
/* LiteralStringBacktick */ [data-theme="dark"] .chroma .sb { color: #586e75 }
/* LiteralStringChar */ [data-theme="dark"] .chroma .sc { color: #2aa198 }
/* LiteralStringDelimiter */ [data-theme="dark"] .chroma .dl { color: #2aa198 }
/* LiteralStringDoc */ [data-theme="dark"] .chroma .sd {  }
/* LiteralStringDouble */ [data-theme="dark"] .chroma .s2 { color: #2aa198 }
/* LiteralStringEscape */ [data-theme="dark"] .chroma .se { color: #cb4b16 }
/* LiteralStringHeredoc */ [data-theme="dark"] .chroma .sh {  }
/* LiteralStringInterpol */ [data-theme="dark"] .chroma .si { color: #2aa198 }
/* LiteralStringOther */ [data-theme="dark"] .chroma .sx { color: #2aa198 }
/* LiteralStringRegex */ [data-theme="dark"] .chroma .sr { color: #dc322f }
/* LiteralStringSingle */ [data-theme="dark"] .chroma .s1 { color: #2aa198 }
/* LiteralStringSymbol */ [data-theme="dark"] .chroma .ss { color: #2aa198 }
/* LiteralNumber */ [data-theme="dark"] .chroma .m { color: #2aa198 }
/* LiteralNumberBin */ [data-theme="dark"] .chroma .mb { color: #2aa198 }
/* LiteralNumberFloat */ [data-theme="dark"] .chroma .mf { color: #2aa198 }
/* LiteralNumberHex */ [data-theme="dark"] .chroma .mh { color: #2aa198 }
/* LiteralNumberInteger */ [data-theme="dark"] .chroma .mi { color: #2aa198 }
/* LiteralNumberIntegerLong */ [data-theme="dark"] .chroma .il { color: #2aa198 }
/* LiteralNumberOct */ [data-theme="dark"] .chroma .mo { color: #2aa198 }
/* Operator */ [data-theme="dark"] .chroma .o { color: #719e07 }
/* OperatorWord */ [data-theme="dark"] .chroma .ow { color: #719e07 }
/* Punctuation */ [data-theme="dark"] .chroma .p {  }
/* Comment */ [data-theme="dark"] .chroma .c { color: #586e75 }
/* CommentHashbang */ [data-theme="dark"] .chroma .ch { color: #586e75 }
/* CommentMultiline */ [data-theme="dark"] .chroma .cm { color: #586e75 }
/* CommentSingle */ [data-theme="dark"] .chroma .c1 { color: #586e75 }
/* CommentSpecial */ [data-theme="dark"] .chroma .cs { color: #719e07 }
/* CommentPreproc */ [data-theme="dark"] .chroma .cp { color: #719e07 }
/* CommentPreprocFile */ [data-theme="dark"] .chroma .cpf { color: #719e07 }
/* Generic */ [data-theme="dark"] .chroma .g {  }
/* GenericDeleted */ [data-theme="dark"] .chroma .gd { color: #dc322f }
/* GenericEmph */ [data-theme="dark"] .chroma .ge { font-style: italic }
/* GenericError */ [data-theme="dark"] .chroma .gr { color: #dc322f; font-weight: bold }
/* GenericHeading */ [data-theme="dark"] .chroma .gh { color: #cb4b16 }
/* GenericInserted */ [data-theme="dark"] .chroma .gi { color: #719e07 }
/* GenericOutput */ [data-theme="dark"] .chroma .go {  }
/* GenericPrompt */ [data-theme="dark"] .chroma .gp {  }
/* GenericStrong */ [data-theme="dark"] .chroma .gs { font-weight: bold }
/* GenericSubheading */ [data-theme="dark"] .chroma .gu { color: #268bd2 }
/* GenericTraceback */ [data-theme="dark"] .chroma .gt {  }
/* GenericUnderline */ [data-theme="dark"] .chroma .gl {  }
/* TextWhitespace */ [data-theme="dark"] .chroma .w {  }
