{{ $page := . }}
{{ if not .Params.unlisted }}
  <div class="card card-bordered shadow-lg rounded-lg max-w-xs mb-12">
    <div class="card-body justify-between">
      <div>
        <h4 class="card-title mt-0">{{ .Title }}</h4>
        <section class="prose text-base">
          {{ with .Params.summary }}
            {{ $page.RenderString . }}
          {{ end }}
        </section>
      </div>
      <div class="card-actions text-center justify-center mt-4">
        <a href="{{ .Permalink }}">
          <button class="btn btn-secondary btn-outline btn-sm rounded-lg">Details →</button>
        </a>
      </div>
    </div>
  </div>
{{ end }}