---
title: false
styles: true
---

@import "alembic";

/****************/
/* General      */
/****************/
table td {
  min-width: 8em;
}
.nav--header img {
  height: 2em;
}
div.subsection-divider {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid $captionColour;
  text-align: left;
  margin: 0rem 0rem .8rem 0rem;
}
span.subsection-header {
  background: $backgroundColour;
  color: $captionColour;
  padding: 0.5rem;
}
span.coffee-shop-attributes {
  text-align: right;
  float: right;
  color: $captionColour;
}

/****************/
/* Coffee Shops */
/****************/
table.coffee-shops {
    border-spacing: 10px;
    text-align: center;
}
table.coffee-shops td {
    vertical-align: top;
    padding: 1em .3em;
}
table.coffee-shops td:nth-child(2) {
    text-align: left;
    width: 70%;
}
table.coffee-shops th {
    font-weight: bold;
    border-bottom: 1px solid black;
    vertical-align: bottom;
    padding: .1em;
}
table.coffee-shops td:nth-child(n+3) {
    text-align: center;
}
.coffee-shop {
    margin: 3em 1em;
    clear: both;
}
.coffee-shop > table {
    table-layout: fixed;
}
.coffee-shop > table th {
    text-align: center;
}
.coffee-shop > table td {
    text-align: center;
}
.coffee-shop > table td.coffee-shop-desc {
    text-align: left;
    padding: 1em;
}
span.coffee-shop-attr-name {
    font-size: 0.7em;
}
span.coffee-shop-attr-value {
    font-size: 1.5em;
}
/****************/
/* Posts        */
/****************/
.article--post h2 {
    font-size: 1.5em;
}
/* Images in posts */
.post--content img {
    border: 1px solid gray;
    padding: 5px;
}
/* Images in post previews */
img.preview-image {
    border: 1px solid $linkColour;
    padding: 5px;
    width: 80%;
    display: block;
    margin: 1em auto;
}
div.post-excerpt {
    padding: 1em 0em;
}
div.post-excerpt-divider {
    width: 60%;
    margin: auto;
    height: 2px;
    background-color: #EEEEEE;
}
a.external-link {
    text-align: center;
}
/****************/
/* Courses      */
/****************/
table.training-courses {
    max-width: 100%;
    border: 1px solid gray;
    display: table;
}
table.training-courses td {
    vertical-align: top;
    padding: 1em;
}
td.course-name, td.course-upcoming-date, td.course-name h4, td.course-name h6 {
    background-color: gray;
    color: white;
    text-align: center;
}
article ol, article ul {
    padding: 0em 0em 0em 2em;
}
/****************/
/* Books        */
/****************/
article.article--book > p {
    font-size: 0.8em;
    line-height: 1.5;
    margin-bottom: 0.5em;
}
span.book--title {
    font-style: italic;
}
span.book--author {
    font-size: 80%;
}
article.article--book > hr {
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}
span.book--read-it {
    font-size: 150%;
}
