---
title: false
styles: true
---

@import "alembic";

/****************/
/* Coffee Shops */
/****************/
table.coffee-shops {
    border-spacing: 10px;
    text-align: center;
}
table.coffee-shops td {
    vertical-align: top;
    padding: 1em .3em;
}
table.coffee-shops td:nth-child(2) {
    text-align: left;
    width: 70%;
}
table.coffee-shops th {
    font-weight: bold;
    border-bottom: 1px solid black;
    vertical-align: bottom;
    padding: .1em;
}
table.coffee-shops td:nth-child(n+3) {
    text-align: center;
}
/****************/
/* Posts        */
/****************/
.article--post h2 {
    font-size: 1.5em;
}
/* Images in posts */
.article--post img {
    border: 1px solid gray;
    padding: 5px;
}
/* Images in post previews */
/* MUST be after the above (images in posts) */
img.preview-image {
    border: 1px solid $linkColour;
    padding: 5px;
    width: 80%;
    display: block;
    margin: 1em auto;
}
div.post-excerpt {
    padding: 1em 0em;
}
div.post-excerpt-divider {
    width: 60%;
    margin: auto;
    height: 2px;
    background-color: #EEEEEE;
}
a.external-link {
    text-align: center;
}
/****************/
/* Training     */
/****************/
table.training-courses {
    max-width: 100%;
    border: 1px solid gray;
    display: table;
}
table.training-courses td {
    vertical-align: top;
    padding: 1em;
}
td.course-name, td.course-upcoming-date {
    background-color: gray;
    color: white;
    text-align: center;
}
td.course-content ol {
    padding: 0em 0em 0em 2em;
}
