<div class="mt-8">
    {{/* Get configuration */}}
    {{ $config := partial "collection/config" . }}
    
    {{/* Collections that aren't part of the current page directory need to be labeled */}}
    {{ with $config.listCollection }}
    <h2 class="text-3xl">{{ title . }}</h2>
    {{ end }}

    <div class="{{ $config.listSummaryContainerClasses }}">
    {{/* Get pages to display */}}
    {{ $pageData := partial "collection/pages" (dict "context" . "config" $config) }}
    
    {{ if $pageData.shouldList }}
        {{/* Check for mutually exclusive options */}}
        {{ if and $config.paginate $config.groupBy }}
          {{ errorf "paginate and listcollectiongroupby are mutually exclusive" }}
        {{ end }}

        {{/* Render based on configuration */}}
        {{ if $config.paginate }}
          {{ partial "collection/pagination" (dict "pages" $pageData.pages "context" . "config" $config) }}
        {{ else if $config.groupBy }}
          {{ partial "collection/grouped" (dict "pages" $pageData.pages "config" $config) }}
        {{ else }}
          {{ partial "collection/simple" (dict "pages" $pageData.pages "config" $config) }}
        {{ end }}
    {{ end }}
    </div>
</div>