<div class="mt-8">
    {{ $listSummaryType := .Params.listsummarytype | default "summary" }}
    {{/* Collections that aren't part of the current page directory need to be labeled. */}}
    {{ with .Params.listcollection }}
    <h2 class="text-3xl">{{ title . }}</h2>
    {{ end }}
    <div class="{{ $listSummaryType }}-container">
    {{/*
        We can list either the collection in the current directory (with .showList=true) or
        a different one, by specifying it with .listCollection.
        Then we need to apply sorting
    */}}
    {{/* Start with figuring out what pages we want to list. */}}
    {{ $pages := "" }}
    {{ $shouldList := false }}
    {{ if .Params.showList }}
        {{ $shouldList = true }}
        {{ $pages = .Pages }}
    {{ else if (isset .Params "listcollection") }}
        {{ $shouldList = true }}
        {{ $selectedSectionName := .Params.listcollection }}
        {{ $selectedSection := "" }}
        {{ range $s := site.Sections }}
        {{ if eq (lower $s.Name) $selectedSectionName }}
            {{ $selectedSection = $s }}
        {{ end}}
        {{ end }}
        {{ with $selectedSection }}
        {{ $pages = .Pages }}
        {{ end }}
    {{ end }}

    {{/* Sort and render the list. */}}
    {{ if $shouldList }}
        {{ with .Params.sort }}
          {{ $pages = sort $pages .by .order }}
        {{ end }}
        {{ if (isset .Params "paginate") }}
          {{ $itemsPerPage := .Params.paginate }}
          {{ range $page := (.Paginate $pages $itemsPerPage).Pages }}
            {{ $page.Render $listSummaryType }}
          {{ end }}
          <div class="
            {{/* Unfortunately, we can't access the pagination component itself so have to use child modifiers to style it. */}}
            text-base mx-auto mb-4 sm:text-lg sm:max-w-md
            [&>ul]:flex [&>ul]:flex-row [&>ul]:justify-evenly
            [&>ul>li>a:not([href])]:text-[--trim-color]
            [&>ul>li.active>a:not([href])]:font-bold [&>ul>li.active>a:not([href])]:text-[--secondary-color]
            [&>ul>li>a:not([href])]:cursor-default
          ">
            {{ template "_internal/pagination.html" . }}
          </div>
        {{ else }}
          {{ range $page := $pages }}
            {{ $page.Render $listSummaryType }}
          {{ end }}
        {{ end }}
    {{ end }}
    </div>
</div>