{{ $contentType := "page" }}
{{ with .Section }}
    {{ $contentType = . }}
{{ end }}
<div class="{{ $contentType }}-content prose-a:text-secondary [&_ol]:ps-8">
    {{/* include an image inline if one is specified */}}
    {{ with .Params.embeddedImage }}
    {{ partial "image" (dict "path" .path "alt" .alt "type" "embedded") }}
    {{ end }}

    {{/* include a banner-style (100% width) image if one is specified */}}
    {{ with .Params.bannerImage }}
    {{ partial "image" (dict "path" .path "alt" .alt "type" "banner") }}
    {{ end }}

    {{ .Render "subhead" }}
    {{ if and (eq .Section "posts") .IsPage }}
      {{ $subscribe := partial "subscribe.html" }}
      {{ if findRE `<div class="footnotes"` .Content }}
        {{ safeHTML (replaceRE `(<div class="footnotes")` (printf "%s$1" $subscribe) .Content) }}
      {{ else if findRE `<section class="footnotes"` .Content }}
        {{ safeHTML (replaceRE `(<section class="footnotes")` (printf "%s$1" $subscribe) .Content) }}
      {{ else }}
        {{ .Content }}
        {{ $subscribe }}
      {{ end }}
    {{ else }}
      {{ .Content }}
    {{ end }}
</div>
