<div class="content-container">
  <main aria-role="main">
    <header class="header">
      <h1>{{.Title}}</h1>
      {{ with .Params.subtitle }}
      <span class="subtitle">{{.}}</span>
      {{ end }}
    </header>
    <div class="content">
      <!-- include an image inline if one is specified -->
      {{ with .Params.embeddedImage }}
        {{ partial "images/embeddedImage" . }}
      {{ end }}
      <!-- include a banner-style (100% width) image if one is specified -->
      {{ with .Params.bannerImage }}
        {{ partial "images/bannerImage" . }}
      {{ end }}
      {{.Content}}
    </div>
    <div>
    {{ if .Params.showList }}
      {{ range .Pages }}
          {{ .Render "summary" }}
      {{ end }}
    {{ end }}
    </div>
  </main>
</div>