<div class="content-container">
  <main aria-role="main">
    <header class="header">
      <h1>{{.Title}}</h1>
      {{ with .Params.subtitle }}
      <span class="subtitle">{{.}}</span>
      {{ end }}
    </header>
    {{ block "mainContent" . }}
      <div class="content">
        <!-- include an image inline if one is specified -->
        {{ with .Params.embeddedImage }}
          {{ partial "images/embeddedImage" . }}
        {{ end }}
        <!-- include a banner-style (100% width) image if one is specified -->
        {{ with .Params.bannerImage }}
          {{ partial "images/bannerImage" . }}
        {{ end }}
        {{.Content}}
      </div>
    {{ end }}
    {{ block "listContent" . }}
      <div>
        {{ $listSummaryType := .Params.listsummarytype | default "summary" }}
        {{ with .Params.listcollection }}
          <br>
          <h2>{{ title . }}</h2>
        {{ end }}
        <div class="{{ $listSummaryType }}-container">
          {{ if .Params.showList }}
            {{ range .Pages }}
              {{ .Render $listSummaryType }}
            {{ end }}
          {{/* Support listing a collection other than the one in the current directory */}}
          {{ else if (isset .Params "listcollection") }}
            {{ $selectedSectionName := .Params.listcollection }}
            {{ $selectedSection := "" }}
            {{ range $s := site.Sections }}
              {{ if eq (lower $s.Name) $selectedSectionName }}
                {{ $selectedSection = $s }}
              {{ end}}
            {{ end }}
            {{ with $selectedSection }}
              {{ range .Pages }}
                {{ .Render $listSummaryType }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    {{ end }}
    {{ block "postContent" . }}
      {{ if (isset .Params "seealso") }}
        <div class="content-end">
          <hr class="content-end-rule">
          {{ with .Params.seeAlso }}
            <div class="see-also-container" style="display: block; text-align: center;">
              <p>See also:
              {{ range $x := . }}
                <a class="button caps" href="{{ .link }}">{{ .text }}</a>
              {{ end }}
              </p>
            </div>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </main>
</div>