<style>
.header-navbar {
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--secondary-color);
}
.header-navbar ul {
    margin: 0.5em;
    padding: 0em;
}
.header-navbar ul li {
    display: inline-block;
    padding: 0.5em;
    margin: 0;
}
.header-navbar ul li a {
    font-weight: bold;
    text-transform: uppercase;
}
.main-nav {
    flex: 1 0 auto;
    display: flex;
}
.dark-mode-switch {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    align-content: flex-end;
}
.main-nav .menu-dropdown {
    position: relative;
}
.main-nav .menu-dropdown-button-container {
    margin-left: 0.3em;
    align-self: flex-end;
    margin-bottom: 0.3em;
}
.menu-dropdown-button {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.8em;
    left: 1em;
}
.main-nav .menu-dropdown-popover {
    position: absolute;
    top: 2.8em;
    flex-direction: column;
    background-color: var(--bg-color);
    transition: 0.1s;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.main-nav .menu-dropdown-popover.active {
    transform: translateY(0);
    opacity: 1;
}
.vertical-nav-list {
    display: flex;
    flex-direction:column;
}
</style>

<div class="header-navbar">
    <nav class="main-nav">
        <div class="header-links">
            <ul class="mobile-no-show">
            {{ range $navitem := .Site.Params.navbar.links }}
                {{ with $navitem }}
                <li><a href="{{ .link }}">{{ .name }}</a></li>
                {{ end }}
            {{ end }}
            </ul>
        </div>
        <div class="menu-dropdown mobile-only">
            <div class="menu-dropdown-button-container">
                <span class="menu-dropdown-button"><i class="fa-solid fa-bars"></i></span>
            </div>
            <div class="menu-dropdown-popover">
                <ul class="vertical-nav-list">
                {{ range $navitem := .Site.Params.navbar.links }}
                    {{ with $navitem }}
                    <li><a href="{{ .link }}">{{ .name }}</a></li>
                    {{ end }}
                {{ end }}
                </ul>
            </div>
        </div>
    </nav>
    <div class="dark-mode-switch">
        {{ partial "darkModeSwitch.html" . }}
    </div>
</div>

<script>
    const dropdownButton = document.querySelector(".menu-dropdown-button");
    const dropdownPopover = document.querySelector(".menu-dropdown-popover");

    dropdownButton.addEventListener("click", toggleDropdownVisible);
    document.addEventListener("click", closeDropdownOnClick);

    function closeDropdownOnClick(event) {
        if (dropdownPopover.classList.contains("active")) {
            const inDropdown = dropdownPopover.contains(event.target)
            const inButton = dropdownButton.contains(event.target)
            if (!inDropdown && !inButton) {
                toggleDropdownVisible()
            }
        }
    }

    function toggleDropdownVisible() {
        dropdownPopover.classList.toggle("active");
    }

</script>