<style>
.header-navbar {
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--secondary-color);
}
.header-navbar ul {
    margin: 0.5em;
    padding: 0em;
}
.header-navbar ul li {
    display: inline-block;
    padding: 0.5em;
    margin: 0;
}
.header-navbar ul li a {
    font-weight: bold;
    text-transform: uppercase;
}
.links {
    flex: 1 0 auto;
}
.dark-mode-switch {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    align-content: flex-end;
}
</style>

<nav class="header-navbar">
    <div class="links">
        <ul>
          {{ range $navitem := .Site.Params.navbar.links }}
            {{ with $navitem }}
              <li><a href="{{ .link }}">{{ .name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
    </div>
    <div class="dark-mode-switch">
        {{ partial "darkModeSwitch.html" . }}
    </div>
</nav>