<style>
.header-navbar {
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--secondary-color);
}
.header-navbar ul {
    margin: 0.5em;
    padding: 0em;
}
.header-navbar ul li {
    display: inline-block;
    padding: 0.5em;
    margin: 0;
}
.header-navbar ul li a {
    font-weight: bold;
    text-transform: uppercase;
}
.site-nav-container {
    flex: 1 0 auto;
}
.dark-mode-switch-container {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    align-content: flex-end;
}
.site-nav .menu-dropdown {
    position: relative;
}
.site-nav .menu-dropdown-button-container {
    margin-left: 0.3em;
    align-self: flex-end;
    margin-bottom: 0.3em;
}
.menu-dropdown-button {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.8em;
    left: 1em;
}
.site-nav .menu-dropdown-popover {
    position: absolute;
    top: 2.8em;
    flex-direction: column;
    background-color: var(--bg-color);
    transition: 0.1s;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    opacity: 0;
}
.site-nav .menu-dropdown-popover.active {
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
}
.vertical-nav-list {
    display: flex;
    flex-direction:column;
}
</style>

<div class="header-navbar">
    <div class="site-nav-container">
        {{ partial "navbar/siteNav.html"}}
    </div>
    <div class="dark-mode-switch-container">
        {{ partial "navbar/darkModeSwitch.html" . }}
    </div>
</div>

<script>
    const dropdownButton = document.querySelector(".menu-dropdown-button");
    const dropdownPopover = document.querySelector(".menu-dropdown-popover");

    const toggleDropdownVisible = () => {
        dropdownPopover.classList.toggle("active");
    };

    // Open and close the popover when the menu button is pressed
    dropdownButton.addEventListener("click", toggleDropdownVisible);

    // Close the popover if ESC is pressed
    document.addEventListener('keydown', event => {
        if (dropdownPopover.classList.contains("active")) {
            if (event.key === 'Escape') {
                toggleDropdownVisible()
            }
        }
    });

    // Close the popover if there's a click outside of it.
    document.addEventListener("click", event => {
        if (dropdownPopover.classList.contains("active")) {
            const inDropdown = dropdownPopover.contains(event.target)
            const inButton = dropdownButton.contains(event.target)
            if (!inDropdown && !inButton) {
                toggleDropdownVisible()
            }
        }
    });
</script>