{{/* Expects to be passed an array of objects that have `name` and `link` fields */}}
<style>
/* Styles for both the regular link bar and the dropdown menu. */
.site-nav ul {
    margin: 0.5em;
    padding: 0em;
}
.site-nav ul li {
    display: inline-block;
    padding: 0.5em;
    margin: 0;
}
/* Styles for the mobile-only dropdown menu. */
.site-nav .site-menu-dropdown {
    position: relative;
}
.menu-dropdown-button {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.8em;
    left: 1em;
}
.site-nav .menu-dropdown-popover {
    position: absolute;
    top: 2.8em;
    flex-direction: column;
    background-color: var(--bg-color);
    transition: 0.1s;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transition: z-index 0ms ease-in-out 150ms;
    opacity: 0;
}
.site-nav .menu-dropdown-popover.active {
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}
</style>

<nav class="site-nav flex">
    <div class="site-menu-bar mobile-no-show ml-3">
        <ul>
        {{ range $navitem := .}}
            {{ with $navitem }}
            <li class="lg:mx-2">
                <a class="uppercase text-lg" href="{{ .link }}">
                    {{ .name }}
                </a>
            </li>
            {{ end }}
        {{ end }}
        </ul>
    </div>
    <div class="site-menu-dropdown mobile-only">
        <div class="m-1 ml-2">
            <span class="menu-dropdown-button"><i class="fa-solid fa-bars"></i></span>
        </div>
        <div class="menu-dropdown-popover">
            <ul class="flex flex-col">
            {{ range $navitem := .}}
                {{ with $navitem }}
                <li><a href="{{ .link }}">{{ .name }}</a></li>
                {{ end }}
            {{ end }}
            </ul>
        </div>
    </div>
</nav>