{{ $page := . }}
<div class="my-3">
    <div tabindex="0" class="collapse collapse-arrow">
        <div class="collapse-title pb-0">
            <h2 class="card-title my-0">
                {{ .Title }}
            </h2>
            <div class="flex flex-row justify-start items-end gap-x-8 px-4 prose text-muted-heading">
                {{/* Appearance date */}}
                <div class="space-x-2">
                    <i class="fa-regular fa-calendar"></i>
                    <span>{{ .Date.Format "2006-01-02" }}</span>
                </div>
                {{/* Appearance type */}}
                <div class="space-x-2">
                    {{ if hasPrefix .Params.appearanceType "Podcast" }}
                    <i class="fas fa-microphone"></i>
                    {{ else if hasPrefix .Params.appearanceType "Conference" }}
                    <i class="fa-solid fa-person-chalkboard"></i>
                    {{ end }}
                    <span>{{ .Params.appearanceType }}</span>
                </div>
            </div>
        </div>

        <div class="collapse-content px-8 prose space-y-2">
            <span class="text-muted-heading">{{ .Params.where }}</span>
            <section>
                {{ .Summary }}
            </section>
            <div class="card-actions mb-4 flex flex-row justify-start items-center gap-x-8">
                {{ if isset .Params "links" }}
                {{ range $text, $link := .Params.links }}
                <a class="uppercase text-secondary text-sm" href="{{ $link }}">
                    {{ $text }}
                </a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>