---
layout: default
---

<h1>ethanswan.com</h1>
<div class="blog">
    {% for post in site.posts %}
        {%- assign date_format = site.minima.date_format | default: "%Y/%m/%-d" -%}
        {{ post.date | date: date_format}}:<br>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <div class="post-excerpt">
            {% if post.image %}
            {% comment %} Desktop version {% endcomment %}
                <table class="desktop-only"><tr>
                    <td colspan="1">
                        <a href="{{ post.url | relative_url }}"><img src="{{ post.image }}"/>
                    </a></td>
                    <td colspan="2"><p>{{ post.excerpt | strip_html }}</p></td>
                </tr></table>
            {% comment %} Mobile version {% endcomment %}
            <div class="mobile-only">
                <p>{{ post.excerpt | strip_html }}</p>
            </div>
            {% else %}
                <p>{{ post.excerpt | strip_html }}</p>
            {% endif %}
        </div>
        <br>
    {% endfor %}
</div>

