<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" class="orange">Home</a></li>
		        	<li><a href="/about" class="orange">About</a></li>
	        		<li><a href="/resume.html" class="orange">Resume</a></li>
	        		<li><a href="/blog" class="orange">Feed</a></li>
	    		</ul>
			</nav>
			<div style="height:2px;width:100%">
				<div style="background-color:#FF5555;height:2px;width:50%;"/>
			</div>
			<br>
			<div class="container" style="float:left;clear:both;">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer style="clear:both;">
	    		<ul>
	        		<li><a href="mailto:ethanpswan@gmail.com" class="orange">Email Me</a></li>
	        		<li><a href="https://github.com/eswan18" class="orange">My Github</a></li>
			</ul>
			</footer>
		</body>
	</html>
