<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume.html">Resume</a></li>
	        		<li><a href="/blog">Feed</a></li>
	    		</ul>
			</nav>
			<br>
			<div class="container" style="float:left;clear:both;">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer style="clear:both;">
	    		<ul>
	        		<li><a href="mailto:ethanpswan@gmail.com">Email Me</a></li>
	        		<li><a href="https://github.com/eswan18">My Github</a></li>
			</ul>
			</footer>
		</body>
	</html>
