---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset  post--content">

    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {{ content }}

    {% if page.external_link %}
    <center><a class="external-link" href="{{ page.external_link }}">Link</a></center>
    {% endif %}

    {% include nav-share.html %}

    {% include post-comments.html %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
